.page-navigation {
  background-color:#990000;
    height: 50px ;
}
.page-navigation ul { 
 list-style:none;
}
.page-navigation ul li { 
 	padding: 0 15px;  
    float: left ;
    line-height: 50px ;
} 
.page-navigation ul li a {
	color:#FFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.page-navigation ul li a:hover {
	color:#006400;
    text-decoration: underline;
}
.index-title {
    color: #000099;
}
.video-title {
	color: #FF0000;
    text-decoration: underline;
}
.favorite-link li a:hover {
	color:pink;
    text-decoration:none;
}

